<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="cs-footer-1782">
    <div class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <a aria-label="go back to home" class="cs-logo" href="">
                <img class="cs-logo-img" aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/logo-white.svg" alt="logo" width="240" height="32">
            </a>
            <p class="cs-text">
                Here at Elzo's Plumbing Co., we believe the plumbing industry is all about building relationships. Our customers deserve personalized, hands-on service that goes beyond just fixing pipes—we’re here to provide reliable solutions and support for all your plumbing needs.
            </p>
            <div class="cs-contact">
                <div class="cs-contact-info">
                    <span class="cs-topper">Call us anytime</span>
                    <a href="" class="cs-contact-link">(918) 697-2773</a>
                </div>
            </div>
        </div>
        <!-- Links -->
        <div class="cs-ul-wrapper">
            <span class="cs-header">Our Services</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="">WATER HEATER + INSTALLATION REPAIR</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">TOILET, SHOWER, AND SINK INSTALLATION AND REPAIRS.
                    </a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">CLOGGED PIPES AND DRAINS.</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">REMODEL AND NEW CONSTRUCTION.</a>
                </li>
            </ul>
        </div>
        <div class="cs-ul-wrapper">
            <span class="cs-header">Useful Links</span>
            <ul class="cs-ul">
                <li class="cs-li">
                    <a class="cs-link" href="">About Stitch Gym</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">Membership Details</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">Class Timetable</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">Our Expert Trainers</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">Upcoming Events</a>
                </li>
                <li class="cs-li">
                    <a class="cs-link" href="">Contact Us</a>
                </li>
            </ul>
        </div>
        <table class="cs-table">
            <tbody>
                <tr>
                    <th scope="row">Monday</th>
                    <td>8.00am - 5.00pm</td>
                </tr>
                <tr>
                    <th scope="row">Tuesday</th>
                    <td>8.00am - 5.00pm</td>
                </tr>
                <tr>
                    <th scope="row">Wednesday</th>
                    <td>8.00am - 5.00pm</td>
                </tr>
                <tr>
                    <th scope="row">Thursday</th>
                    <td>8.00am - 5.00pm</td>
                </tr>
                <tr>
                    <th scope="row">Friday</th>
                    <td>8.00am - 5.00pm</td>
                </tr>
                <tr>
                    <th scope="row">Saturday</th>
                    <td>Closed</td>
                </tr>
                <tr>
                    <th scope="row">Sunday</th>
                    <td>Closed</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="cs-bottom">
        <span class="cs-credit">
            © Copyright 2025 - <a href="/https://betterwebsite.ai" class="cs-credit-link" target="_blank">Better Website</a>
        </span>
        <div class="cs-bottom-links">
            <a href="" class="cs-bottom-link">Terms & Conditions</a>
            <a href="" class="cs-bottom-link">Privacy Policy</a>
        </div>
    </div>
</footer>
                                