---
title: 'About | BetterWebsite.ai Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/landing-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/elzo-m.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/elzo.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/elzo.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Company Title</h2>
                <p class="cs-text">
                    Harry Elzo, owner of Elzo’s Plumbing Co. was born in Tulsa, and raised in Broken Arrow on 110 acres. Harry has more than 30 years of experience in plumbing. Harry’s mother was a nurse, and his father was an engineer and an entrepreneur who owned several successful businesses in the Tulsa area. Harry graduated from Broken Arrow High School, as well as Tulsa Vo-Tech. He also attended Oklahoma State University. After high school, Harry proudly served in the US Army (RAKKASAN!!). Harry also has a deep love for auto racing.
                </p>
                <!-- <p class="cs-text">
                    In consequat tincidunt turpis sit amet imperdiet. Praesent Class officelan nonatoureanor mauris laoreet, iaculis libero quis. Curabitur et tempus eri consequat tincidunt turpis sit amet imperdiet. Praesent nonatourean olei aptent taciti sociosqu ad litora torquent per.
                </p> -->
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        I’m fiercely, almost dangerously, loyal to my friends and family. I have a sweet wife, 4 intelligent, loving, daughters, 4 hardworking son-in laws and 8 wonderful grandchildren.
                    </p>
                    <span class="cs-name">Harry Elzo</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/contact" class="cs-button-solid">Contact</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}